<div style="height: 200px;">

</div>
<div class="footer" style="margin: -100px;">
    <div class="leftfooter" >
        <div> <img src="assets/chariteaselogo.png" alt="" style="margin: 12% auto"></div>
        <div class="footericons" style="margin: 0% auto">
            <a href="https://in.linkedin.com/#:~:text=1%20billion%20members%20|%20Manage%20your%20professional%20identity.%20Build%20and"><img src="assets/linkedin.png" alt=""></a>
        <a href="https://x.com/?lang=en-in&mx=2">
            <img src="assets/twitter.png" alt="">
        </a>
    </div>
    <!-- <div class="footertext">
        Copyright 2024 CharitEase. All rights reserved
    </div> -->

    </div>
    <div class="midfooter">
        <div>
            <a href="communities.html">
        <div class="footerheadings">Communities</div>
        <div class="footertext1">NGOS</div>
        <div class="footertext1">Old Age Home</div>
        <div class="footertext1">Children</div>
        <div class="footertext1">Animal</div>
        <div class="footertext1">Cleanliness</div>
        <div class="footertext1">Student Clubs</div>
    </a>
        </div>
        <div>
            <a href="volunteer.html">
            <div class="footerheadings">Facilities</div>
            <div class="footertext1">Donate</div>
            <div class="footertext1">Volunteer</div>
            <div class="footertext1">Connect</div>
            <div class="footertext1">Register With Us</div>
        </a>
        </div>
        <div>
            <a href="contactsus.html">
            <div class="footerheadings">Contact</div>
            <div class="footertext1">Gallery</div>
            <div class="footertext1">Achievements</div>
            <div class="footertext1">Testimonials</div>
            <div class="footertext1">Founders</div>
        </a>
        </div>
        <div>
            <hr style="margin-left:10px; height:100%">
        </div>
        


        
    </div>
    
    <div class="rightfooter">
        <div class="registernow">
            Register Now So You Don't Miss Our Events
        </div>
        <form id="eventform" class="subscribenow" action=showDialog() method="POST" onsubmit="createsubscribe(event)">
            <input type="email" name="email" placeholder="example@fg.com" required>
            <button type="submit">Subscribe Now</button>
        </form>

    </div>

</div>