<div class="menu-bar">
    <div class="menu-bar1">
        <div class="charitease">CharitEase</div>
        <a href="/"><div>Home</div></a>
        <a href="/volunteer"><div>Connect</div></a>
        <a href="/communities"><div>Communities</div></a>
        <a href="/events"><div>Events</div></a>
    </div>
    <div class="menu-bar2">
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        <a href="/contactus"><div>Contact</div></a>
        <a href="/login"><div class="login">Login</div></a>
    </div>
</div>
