<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CharitEase</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body >



    <%- include('partials/header') %>

    <div class="content" style="margin-left: 0; margin-right: 0;">
        <marquee behaviour="scroll" direction="left" class="mainhead">
            Connect, &nbsp Engage, &nbsp Impact &nbsp !  &nbsp &nbsp &nbsp &nbsp Join Us To Make  A Difference
        </marquee>
    </div>

    <div class="carousel">
        <div class="carousel-slide">
            <div class="carousel-slide-item">
                <img src="/assets/C4.png" alt="Image 1">
                <div class="carousel-overlay">
                    <div class="button-container">
                        <a href="/volunteer" class="btn volunteer-btn">Volunteer</a>
                        <a href="/ekbachaapka" class="btn explore-btn">Explore Now</a>
                    </div>
                </div>
            </div>
            
            <div class="carousel-slide-item">
                <img src="/assets/C5.png" alt="Image 2">
                <div class="carousel-overlay">
                    <div class="button-container">
                        <a href="/volunteer" class="btn volunteer-btn">Volunteer</a>
                        <a href="#" class="btn explore-btn">Explore Now</a>
                    </div>
                </div>
            </div>
    
            <div class="carousel-slide-item">
                <img src="/assets/C6.png" alt="Image 3">
                <div class="carousel-overlay">
                    <div class="button-container">
                        <a href="/volunteer" class="btn volunteer-btn">Volunteer</a>
                        <a href="/ekpedmakenam" class="btn explore-btn">Explore Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <hr class="hr1">
    <div class="industrypartnersmain">
        <div class="ourpartners">
            OUR PARTNERS

        </div>
        <div class="industrypartners">
            Industry Partners
        </div>
        <div class="partners">
            <img src="/assets/logo1.png" alt="" class="partnerimages">
            <img src="/assets/logo2.png" alt="" class="partnerimages">
            <img src="/assets/logo3.png" alt="" class="partnerimages">
            <img src="/assets/logo4.png" alt="" class="partnerimages">
            <img src="/assets/logo5.png" alt="" class="partnerimages">
            <img src="/assets/logo6.png" alt="" class="partnerimages">

        </div>

    </div>

    <hr class="hr1">
    <div>
        <div class="events">
            Events
        </div>
        <div class="eventsbuttons">
            <button type="button" class="evb-active" id="ongoing-btn" onclick="ongoing()">Ongoing</button>
            <button type="button" class="evb" id="upcoming-btn" onclick="upcoming()">Upcoming</button>
          </div>
          
        <div class="eventslist">
            <!-- div class="educationdrives"></div> -->

 
            <div class="educationdrive">
                <div class="eddownpanel">
                    <div>
                        <a href="/volunteer"><button class="volunteerbutton">Volunteer</button></a>
                        <a class="moreinfo_atag"><button class="moreinfobutton">More info</button></a>
                    </div>


                </div>
               <hr class="hr2">
                <div style="display: flex; justify-content:start;background-color: #E4E4E4;">
                    
                    <div>
                        <img src="/assets/tick.png" alt="" style="width: auto;">
                    </div>
                    <div class="noofvolunteers" style="text-align: start; padding:6px;font-size:12px">
                        
                    </div>
                </div>

            </div>
            <div class="educationdrive">
                <div class="eddownpanel">
                    <div>
                        <a href="/volunteer"><button class="volunteerbutton">Volunteer</button></a>
                        <a class="moreinfo_atag"><button class="moreinfobutton">More info</button></a>
                    </div>


                </div>
               <hr class="hr2">
                <div style="display: flex; justify-content:start;background-color: #E4E4E4;">
                    
                    <div>
                        <img src="/assets/tick.png" alt="" style="width: auto;">
                    </div>
                    <div class="noofvolunteers" style="text-align: start; padding:6px;font-size:12px">
                        
                    </div>
                </div>

            </div>
            <div class="educationdrive">
                
                <div class="eddownpanel">
                    <div>
                        <a href="/volunteer"><button class="volunteerbutton">Volunteer</button></a>
                        <a class="moreinfo_atag"><button class="moreinfobutton">More info</button></a>
                    </div>


                </div>
               <hr class="hr2">
                <div style="display: flex; justify-content:start;background-color: #E4E4E4;">
                    
                    <div>
                        <img src="/assets/tick.png" alt="" style="width: auto;">
                    </div>
                    <div class="noofvolunteers" style="text-align: start; padding:6px;font-size:12px">
          
                    </div>
                </div>

            </div>
            <div class="educationdrive">
                <div class="eddownpanel">
                    <div>
                        <a href="/volunteer"><button class="volunteerbutton">Volunteer</button></a>
                        <a class="moreinfo_atag"><button class="moreinfobutton">More info</button></a>
                    </div>


                </div>
               <hr class="hr2">
                <div style="display: flex; justify-content:start;background-color: #E4E4E4;">
                    
                    <div>
                        <img src="/assets/tick.png" alt="" style="width: auto;">
                    </div>
                    <div class="noofvolunteers" style="text-align: start; padding:6px;font-size:12px">

                    </div>
                </div>

            </div>
            <div class="educationdrive">
                <div class="eddownpanel">
                    <div>
                        <a href="/volunteer"><button class="volunteerbutton">Volunteer</button></a>
                        <a class="moreinfo_atag"><button class="moreinfobutton">More info</button></a>
                    </div>


                </div>
               <hr class="hr2">
                <div style="display: flex; justify-content:start;background-color: #E4E4E4;">
                    
                    <div>
                        <img src="/assets/tick.png" alt="" style="width: auto;">
                    </div>
                    <div class="noofvolunteers" style="text-align: start; padding:6px;font-size:12px">
                    </div>
                </div>

            </div> 


        </div>
        
        <div class="jointhenetwork" >
            
            <video width="60%" height="100%" autoplay loop muted  controls style="margin-bottom:0;" >
            <source src="http://127.0.0.1:55745/assets/volunteervideo1.mp4" type="video/mp4" >
               </video> 
            <div style="display: flex; flex-direction: column; padding-right: 2%; width:28%; margin:0;align-items:center;">

                <h1 style="font-weight: 900; font-size: 36px;border:0">Join The Network</h1>
                <h2 style="font-weight: 850;">Thousands More Fun!</h2>
                <h3 style="width: 100%;">Join a community of people who share your interests and passions and find your tribe</h3>
            
                <div class="jointhenetworkbtns">
                    <a href="/volunteer"><button class="volunteerbtn">Volunteer</button></a>
                    <a href="/communities"><button class="moreinfobtn">More info</button></a>
                </div>
            
            </div>
            
        

            
        </div>

    </div>
    <div>
        <div class="events">
            Communities
        </div>
        <div class="communitieslist">         

        </div>


    </div>
    <div>
        <div class="events">
           Stars Of The Week
        </div>
        

    </div>

    <div  class="starsoftheweek" id="starsoftheweek">

    </div>

</div>

<script src="/js/usersidescript.js"></script>

</body>

<%- include('partials/footer') %>

<script>

    const toggle = document.querySelector('.switch input');
    toggle.addEventListener('click', () => {
        console.log("CHARITEASEEEEEEEEEEEE ");
      toggle.classList.toggle('on');
      setTimeout(()=>{
        href = "/ngodashboard";
      },1000);
      

    });
</script>

</html>