<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education Drive</title>
    <link rel="stylesheet" href="/css/educationdrive.css">
</head>

<body>

    <%- include('partials/header') %>
    <main>
        <div class="main-img" id="event-page">
            <img src="/assets/event_bg.png" style="height:828px;">
            <img class="event_pic" id="event_pic"
                style="margin:auto; margin-top:100px; position: absolute; z-index:100; width:80%;height:80%"
                />
            <div class="SwachAbhiyan" style=" 
            margin-top:20%;
            display:flex;
            justify-content:center;
            position: absolute; 
            color: white; 
            font-size: 300%; 
            font-family: 'Poppins'; 
            font-weight: 900; 
            z-index:200;" id="eventname-head">
            Swach Abhiyan
            </div>
        </div>

        <div class="countdown" id="countdown">
        </div>

        <div class="features" id = "features">
        
        </div>

        <div class="footer-links" style="margin-left: -150px; margin-right:-150px;">
            <div style="display: inline; justify-content:center">
                <h3>Perks</h3>
                <p>Snacks along with Volunteer Certificates</p>
            </div>
            <div>
                <h3>Community</h3>
                <p>Connect with like minded people</p>
            </div>
            <div>
                <h3>Contact</h3>
                <p>For more info saveraj@bmu.edu.in</p>
            </div>
        </div>
    </main>
    <script src="/js/usersidescript.js"></script>
</body>

</html>